.equipment {
    min-height: 100vh;
    line-height: 1.7;
}

.text {
    text-align: left;
    font-size: 25pt;
    font-weight: 400;
    padding-left: 25px;
    padding-top: 100px;
}

.text p {
    margin: 0;
}

@media screen and (max-width: 600px) {
    .text {
        font-size: 11pt;
        padding-top: 65px;
    }
}
