.trip {
    text-align: center;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-height: 100vh;
    margin: 0 auto;
    padding-bottom: 20px;
    color: #304663fc;
    line-height: 1.7;
}

.summaryText {
    line-height: initial;
}

.trip p {
    color: black;
    font-size: 20pt;
    width: 70%;
    text-align: left;
    padding: 65px 25px 0 25px;
}

.tripHeader {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.trip .Navigation_header_links a {
    color: black;
}

.day {
    display: flex;
    margin: 150px;
    margin: 20px 0 0 150px;
    margin-left: 25px;
    text-decoration: none;
}

.footer {
    display: block !important;
    width: 100% !important;
    font-size: 12pt !important;
    text-align: center !important;
    padding-top: 10px !important;
    margin-bottom: 0 !important;
}
