.swiper-container {
    width: 100%;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider img {
    display: block;
    width: 60%;
    height: 500px;
    object-fit: cover;
    position: relative;
    opacity: 1;
    border: 1px solid black;
}

.slider p {
    width: 35%;
    border: 1px solid black;
    margin: 0;
    text-align: justify;
    padding-bottom: 60px;
    padding-top: 200px;
    padding-left: 60px;
    padding-right: 80px;
    background-color: floralwhite;
}

.slider {
    display: flex;
}

.swiper-container [class*="active"] {
    text-decoration: none;
}
