.fullDescFirst {
    text-align: justify;
    font-size: 15pt;
    font-weight: 400;
    padding: 25px;
    padding-top: 90px;
    width: 1200px;
    margin: 0 auto;
}

.fullDescSecond {
    text-align: justify;
    font-size: 15pt;
    font-weight: 400;
    padding-bottom: 25px;
    width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
}

.photoGallery {
    margin: 0 auto;
    width: 84.3%;
}

.footer {
    margin: 0 auto;
    width: 300px;
    /* padding-top: 10px; */
    padding-bottom: 20px;
    font-size: 12pt;
}

@media screen and (max-width: 1010px) {
    .fullDescFirst,
    .fullDescSecond {
        font-size: 12pt;
        width: 88%;
        padding-top: 60px;
    }
    li img {
        width: 100% !important;
        height: 100% !important;
    }
    li {
        margin-right: 0 !important;
        height: 100px !important;
    }
    .photoGalleryFirst,
    .photoGallerySecond {
        height: 100px;
    }
    .photoGallery {
        margin: 0 auto;
        width: 85.3%;
    }
    .fullDescSecond {
        font-size: 12pt;
        width: 92%;
        padding-top: 20px;
        margin: 0;
    }
    .footer {
        text-align: center;
    }
    .photoGallerySecond {
        margin-bottom: 10px;
    }
}
