.fullDescFirst {
    text-align: justify;
    font-size: 15pt;
    font-weight: 400;
    padding: 25px;
    padding-top: 90px;
    width: 1200px;
    margin: 0 auto;
}

.fullDescSecond {
    text-align: justify;
    font-size: 15pt;
    font-weight: 400;
    padding-bottom: 25px;
    width: 1200px;
    margin: 0 auto;
    padding-top: 10px;
}

.photoGallery {
    margin: 0 auto;
    width: 84.3%;
}

.footer {
    margin: 0 auto;
    width: 300px;
    padding-bottom: 20px;
    font-size: 12pt;
}

.photoGalleryFirst,
.photoGallerySecond {
    display: flex;
}

@media screen and (max-width: 600px) {
    .fullDescFirst {
        padding-bottom: 10px;
    }
    .fullDescFirst,
    .fullDescSecond {
        font-size: 12pt;
        width: 85%;
        padding-top: 60px;
    }
    li {
        margin-right: 0;
        height: 100px;
        margin-bottom: 10px;
    }
    .photoGalleryFirst,
    .photoGallerySecond {
        width: 92%;
        display: block;
        img {
            width: 73%;
            height: 100%;
        }
        li {
            padding-right: 5px;
        }
    }
    .photoGallery {
        margin: 0 auto;
        width: 85.3%;
    }
    .fullDescSecond {
        font-size: 12pt;
        width: 92%;
        padding-top: 0px;
        margin: 0;
    }
    .footer {
        text-align: center;
        font-size: 10pt;
    }
    .photoGallerySecond {
        margin-bottom: 10px;
    }
    .photoGalleryFirst {
        padding-bottom: 5px;
    }
}
