.mainPage {
    text-align: center;
    background-image: url(mainPhoto.JPG);
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    line-height: 1.7;
}

.header {
    backdrop-filter: blur(0.9px) brightness(99%);
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.title {
    margin-top: 250px;
}

.title span {
    font-weight: 600;
    font-size: 13pt;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}

.title a {
    font-size: 17px;
}

.title p {
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}

h1 {
    font-size: 60px;
    margin: 0;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}

html {
    font-size: 1px;
}

body {
    font-size: 16rem;
}

p {
    font-size: 13rem;
}

.title p {
    font-size: 12pt;
    margin-bottom: -20px;
    margin-right: 20px;
}

@media screen and (max-width: 600px) {
    html a {
        font-size: 8px;
    }
    .title {
        margin-top: 200px;
    }
    h1 {
        font-size: 35px;
    }
    .title span {
        font-size: 10pt;
    }
    .title p {
        font-size: 14pt;
    }
}
