.navigation {
    text-align: center;
    background-size: cover;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    text-align: left;
    display: flex;
}

.headerLinks {
    padding: 25px;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 0px 4px 3px rgb(0 0 0 / 40%), 0px 8px 13px rgb(0 0 0 / 10%), 0px 18px 23px rgb(0 0 0 / 10%);
}

.headerLinks a {
    padding-right: 20px;
    font-size: calc(10px + 2vmin);
    color: white;
    cursor: pointer;
    text-decoration: none;
    text-shadow: 1px 1px 0 black, 1px -1px 0 black, -1px 1px 0 black, -1px -1px 0 black !important;
    transition: all 1s !important;
}

.headerLinks a:hover {
    text-shadow: 1px 1px 0 goldenrod, 1px -1px 0 goldenrod, -1px 1px 0 goldenrod, -1px -1px 0 goldenrod !important;
}

[data*="black"] a {
    text-shadow: none;
}

[data*="black"] {
    position: fixed;
    z-index: 2;
    background-color: white;
    height: 90px;
    text-shadow: none;
}

.inst,
.vk {
    width: 35px;
    height: 35px;
    object-fit: cover;
    padding-left: 10px;
    padding-top: 20px;
}

.contacts {
    position: absolute;
    right: 25px;
    top: 5px;
}

.contacts a {
    padding-right: 10px;
}

[class*="active"] {
    text-decoration: overline !important;
}
